body{
    font-family: sans-serif;
}

.entryForm {
    display: flex;
    flex-direction: column;
  }
  .box {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
  }
  
  .btn {
    background-color: #151515;
    font-size: 1em;
    padding: 0.5rem;
    color: white;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
  }
  
  .result {
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    width: 100%;
    padding: 2rem;
  }
  