body{
    font-family: sans-serif;
    background-color: #1dd3bd;
}

.box {
    display: flex;
    margin: 0rem;
    padding: 2rem;
    font-size: 2rem;
    font-family: Verdana;
}

#gender {
    font-size: 1.7rem;
}
  
.btn {
    background-color: #151515;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}
  
.result {
    border-radius: 5px;
    font-size: 2rem;
    font-family: Georgia;
}
